*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
h1,h2,h3,h4,h5,h6,ul,ol,li,a,span{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.sm-device-img{
    display: none;
}

/* reusable code  */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.direction{
    flex-direction: column;
}
.title{
    font-weight: 700;
    font-size: 3rem;
    color: white;
}
/* reusable code  */


/* navbar css start */
header{
    background-color: #1A0B2E;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.nav-logo h3{
    color: #FFFFFF;
    font-size: 2.5rem;
}
.wave {
  background: linear-gradient(90deg, #7F00FF, #E100FF, #00C6FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
}
nav ul{
    display: flex;
    
}
nav ul li a{
    color: white;
    margin-right: 40px; 
    font-size: 1rem;
    font-weight: 500;
}
.button{
    height: 2.75rem;
    width: 8.4rem;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 0.95),rgba(145, 0, 248, 1));
    
    border-radius: 1000PX;
    padding: 3px 10px;
    
}
.button a{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.button a i{
    color: white;
}

/* navbar css end */


/* banner css start */
#banner{
    background-image: url("../images/hero-bg.png");
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.circle-image{
    position: absolute;
    left: 785px;
    top: 70px;
}
.mic-image{
    position: absolute;
    left: 904px;
    top: 150px;
}
.banner-badge{
    width: 75px;
    height: 38px;
    background-color: #00FF88;
    border-radius: 1000px;
    position: absolute;
    left: 1039px;
    top: 81px;

}
.banner-badge p{
    font-weight: 600;
    font-size: 1.125rem;
    color: #1A0B2E;
    
}
.banner-txt{
    position: absolute;
    left: 689px;
    bottom: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-txt h3{
    font-weight: 800;
    font-size: 3.75rem;
    color: white;
    

}
.banner-txt p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(209, 209, 209);
    margin-top: 15px;

}
.banner-btn{
    display: flex;
    gap: 10px;
    margin-top: 25px;
}
.btn-1{
    gap: 5px;
    width: 201px;
    height: 44px;
    
    border-radius: 1000px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 0.95),rgba(145, 0, 248, 1));
}
.btn-1 a,
.btn-1 i{
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.btn-2{
    gap: 5px;
    width: 180px;
    height: 44px;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 0.95),rgba(145, 0, 248, 1));
    border: 1px solid green;
    border-radius: 1000px;
}
.btn-2 a, i{
    font-weight: 600;
    font-size: 1rem;
    color: white;
}
.btn-1:hover,
.btn-2:hover {
    background: none;
    border: 1px solid green;
}
.btn-1:hover a,
.btn-1:hover i,
.btn-2:hover a,
.btn-2:hover i{
    color: green;
}
/* banner css end */


/* about part css start */
#about,
.aobut-container{
    background-color: #1A0B2E;
}
#about{
    padding: 20px 0;
}

.about-txt h3{
    margin-bottom: 12px;
}
.about-txt p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(204, 204, 204);
    margin: 6px 0;
}
.about-txt .p-last{
    margin-top: 35px;
    margin-bottom: 40px;
}
.about-content{
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    justify-content: space-between;
    padding: 30px 0;
    margin: 30px 0;
}
.about-content .about-card h2{
    font-weight: 900;
    font-size: 3rem;
    color: #00FF88;
}
.about-content .about-card p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(204, 204, 204);
}
/* about part css end */



/* choose part css start */
    #choose, .choose-container{
        background-color: #230E3D;
        padding: 40px 0;
    }
    .choose-container h2{
        margin-bottom: 40px;
    }
    
    .choose-card{
        
        background-color: rgba(53, 17, 101, 0.4);
        border-radius: 40px;
        padding:60px 30px ;
    }
    .choose-card h4{
        color: white;
        font-weight: 700;
        font-size:1.5rem ;
        margin: 17px 0;
    }
    .choose-card p{
        color: rgb(151, 149, 149);
        font-weight: 400;
        font-size:1rem ;
        margin: 8px 0;
        line-height: 30px;
    }
    .headphone{
        grid-area: headphone;
    }
    .mobile{
        grid-area: mobile;
    }
    .location{
        grid-area: location;
    }
    .message{
        grid-area: message;
    }
    .resource{
        grid-area: resource;
    }
    .all-card-box{
        display: grid;
        gap: 30px;
        grid-template-areas:
            "headphone mobile mobile"
            "headphone location location"
            "message message resource" ;
    }
/* choose part css end */


/* feature part css start */
#feature, .feature-container{
    background-color: #1A0B2E;
    padding: 40px 0;
}
.feature-container h2{
    margin-bottom: 15px;
}
.video-card{
    width: 380px;
    height: auto;
    background-color: #250D44;
    border-radius: 20px;
    
    
}
.video-card iframe{
    width: 100%;
    height: 236px;
    border-radius: 20px;
}
.video-card h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
    margin: 20px 0;
}
.video-card p{
    font-weight: 400;
    font-size: 1rem;
    color: rgb(179, 177, 177);
    line-height: 25px;
}
.video-txt{
    padding: 20px 20px 40px 20px;
     
}
.video-time{
     display: flex;
     justify-content: start;
     gap: 10px;
     margin-top: 10px;
}
.video-time img{
    height: 20px;
    width: 20px;
}
.video-time p{
    font-weight: 600;
    font-size: 1rem;
    color: #00FF88;
}
.youtube-video{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}   
    
/* feature part css  end */



/* host part start */
#host{
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 100px;
}
.host-container{
    background-color: rgba(53,17,101,0.4);
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding: 50px 40px 20px 40px;
}
.host-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.host-txt{
    padding: 10px 30px;
}
.host-txt h3{
    font-weight: 700;
    font-size: 2rem;
    color:white;
}
.host-txt p{
    font-weight: 400;
    font-size: 1rem;
    color:rgb(177, 175, 175);
    margin: 10px 0;
    line-height: 30px;
}
.host-icon{
    display: flex;
    justify-content: start;
    gap: 10px;
}
.host-icon .icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #533C72;
}
/* host part end */



/* footer part start */
#footer{
        background-image: url("../images/footer-bg.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 412px;
        position: relative;
}
.footer-txt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    left: 665px;
    top: 118px;
}


.footer-txt .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
}
.footer-txt h1{
    font-weight:900 ;
    font-size: 5rem;
    color: white;
}
.footer-txt h1 span{
    background: linear-gradient(90deg, #7F00FF, #E100FF, #00C6FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer-icon{
    display: flex;
    
    align-items: center;
    gap: 10px;
}
.footer-icon li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-icon p{
    font-weight: 500;
    font-size: 1rem;
    color: rgb(177, 176, 176);
}
.footer-bottom{
    font-weight:400 ;
    font-size: 16;
    color:#afadad ;
    margin-top: 20px;
}

/* footer part end */




.hide{
    display: none;
}




/* responsive for samll devide */
@media screen and  (min-width: 0px) and (max-width: 575.98px) {

/* header responsive */

nav ul {
    display: none;
}
.nav-logo h3 {
    color: #FFFFFF;
    font-size: 1.75rem;
    margin-left: 22px;
}
.button a {
    display: none;
}
.button{
    display: none;
}
.sm-device-img{
    display: block;
    margin-right: 45px;
}

/* header responsive */


/* banner */
#banner{
    height: 300px;
    background-position: center top;
}
.circle-image{
    left: 118px;
    top: 34px;
}
.circle-image img{
    height: 125px;
    width: 125px;
}
.mic-image{
    left: 160px;
    top: 66px;
}   
.mic-image img{
    height: 58px;
    width: 41px;
}
.banner-badge{
    
    width: 55px;
    height: 28px;
    left: 199px;
    top: 43px;
}
.banner-badge p {
    font-weight: 500;
    
}
.banner-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 0;
    bottom: 0;
}
.banner-txt h3 {
    font-weight: 700;
    font-size: 2rem;
    
}  
.banner-txt p {
    font-weight: 200;
    font-size: 12px;
    padding:0 10px;
    
    margin-top: 10px;
}
.banner-txt p span{
    padding: 0 120px;
}
.banner-btn {
    
    
    margin-top: 12px;
    
    padding-bottom: 10px;
}
.btn-1 {
    
    width: 148px;
    height: 36px;
   
}
.btn-1 a, .btn-1 i {
    font-weight: 400;
    font-size: 14px;
    
}
.btn-2 {
    
    width: 144px;
    height: 36px;
    
}
.btn-2 a, i {
    font-weight: 400;
    font-size: 14px;
   
}
/* banner */




/* about */
.title {
    font-weight: 400;
    font-size: 2rem;
    
}
.about-txt p {
    font-weight: 300;
    font-size: 14px;
    padding: 0 20px;
    margin: 2px 0;
}
.about-txt .p-last {
    margin-top: 12px;
    margin-bottom: 0px;
}
.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 17px;
    row-gap: 14px;
    padding: 21px 20px;
    margin: 23px 0;
}
.about-content .about-card h2 {
    font-weight: 600;
    font-size: 2rem;
    
}

/* about */
    
    
    
    
   
    
}
/* responsive for samll devide */